body{
    height:3450px;
}
.all {
    display:flex;
    font-family: "Roboto",sans-serif;
}
img{
    height:30px;
}
.twittterlogo{
    height:40px;
    width:40px;
}
.setlogo,.hashlog0{
    height:15px;
}
.setlogo{
    height:25px;
}
.left{
    font-size:20px;
    line-height: 50px;
    width:24.82%;
}
.lft{
    display:flex;
    flex-direction: column;
    margin-left:40px;
    position:fixed;
    
    
}
.expbutton,.setbutton{
     width:157px;
     display:flex;
     align-items:center;
     font-weight: 700;
     font-size: 19px;
     justify-content: space-around;
     border-radius:27px;
     padding:7px 13px 7px 13px;
     border:none;
     background-color:white;
     cursor:pointer;
}
.expbutton:hover,.setbutton:hover{
     background-color:rgb(228, 225, 225);
     transition:background-color 0.15s;
}
.twitterbutton{
    border-radius:100%;
    background-color:white;
    padding:7px 7px 7px 7px;
    cursor:pointer;
    border:none;
    margin-left:14px;
}
.twitterbutton:hover{
    background-color:rgb(206, 236, 247);
    transition:background-color 0.15s;
}
.set{
    display: flex;
    align-items: center;
    
}
.settingtxt{
    font-weight:100;
}
.mid{
    width: 43.56%;
    border-style:solid;
    border-color:rgb(238, 234, 234);
    border-width: 0.5px;
    position: relative;
    top:-10px;
    bottom:0;
    left: 0;  
    max-width: 599px;   
}
.midtop{
    display:flex;
    justify-content: space-between;
    position:fixed;
    align-items: center;
    z-index: 1;
    padding:4px 12px 5px 0;
    background-color: rgba(255, 255, 255, 0.95);
    width:42.12%;
    
}
.midtopsearch{
    width:100%;
}
.search{
    width: 94%;
    padding:15px 0 15px 15px;
    background-color:rgb(238, 240, 241);
    border-radius:37px;
    border:none;
    background-image:url(left3.svg);   
    background-position:right;   
    background-repeat:no-repeat;   
    background-size:20px;
    background-position: 19px;
    margin-left:4%;
    max-width: 550px;
    
}
.sett{
    Padding:10px 10px 10px 10px;
    border-radius:100%;
    margin:0 0px 0 9px;
    cursor:pointer;
}
.sett:hover{
    background-color: rgb(238, 240, 241);
    transition: all 0.15s;
}
::placeholder{
    padding-left:30px;
    font-size:14.5px;
    color:black;

}
.right{
    width:28.55%;   
    
}
.rgt{
    display:flex;
    flex-direction: column;
}
.rightbox{
   width:350px;
   margin:5px 0px 17px 25px;
   border-style: solid;
   line-height:25px;
   border-width:0.5px;
   border-color:lightgrey;
   border-radius:17px;
}
.rightleft{
    margin-left:20px;
}
.new{
    font-size:18px;
    font-weight: 800;
    margin-top:14px;
    
}
.signingup{
    font-size:13.5px;
    color:grey;
    margin-bottom:11px;
    line-height:18px;
    
}
.blue{
    color:rgb(40, 180, 226); 
}
.blue:hover{
     cursor:pointer;
     text-decoration: underline;
}
.google,.apple,.google1{
    display:flex;
    align-items: center;
    background-color: white;
    padding:12px 0 12px 50px;
    width:300px;
    margin-bottom:10px;
    border-width:0.5px;
    border-color:lightgrey;
    border-radius:87px;
    border-style:solid;
    margin-bottom:11px;
    margin-top:0;
    cursor:pointer;    
}
.google:hover{
      background-color:rgb(234, 249, 255);
      border-width: 1px;
      border-style: solid;
      transition: background-color 0.15s;
}
.apple:hover,.google1:hover{
    background-color:lightgrey;
    transition: background-color 0.15s;
    border-style:solid;
    border-width:1px;
}
.rightsign,.rightsign1,.rightsign2{
    font-size:14px;
    font-weight: 500;
    margin-left:7px;
}
.rightsign1{
    margin-left:-10px;
    font-weight:550;
}
.rightsign2{
    font-weight:550;
}
.rightdown,.rightlast{
    font-size:14px ;
    margin-left:45px;
    color:grey;
    line-height: 20px;
    width:300px;

    
}
.signup{
    font-size:13px;
    color:grey;
    margin-bottom:9px;
}
.googleimg{
    height:17px;
}
.sett{
    width:19px;
    height:19px;
}
.end{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    background-color: rgb(7, 140, 228);
    color:white;
    height:70px;
    
}
.endtop{
    font-size: 23px;
    font-weight:bold;
}
.endtop1{
    font-size:16.8px;
}
.endmid{
    margin-top:10px;
    margin-left:23%;
}
.login,.signnup{
    border-radius:17px;
    background-color:rgb(7, 140, 228) ;
    padding:9px 15px 9px 15px;
    border-width:0.001px;
    border-color:white;
    border-style:solid;
    color:white;
    font-weight:700;
    font-size:14px;
    cursor:pointer;
}
.signnup{
    color:black;
    background-color:rgb(248, 246, 246);
    border-color:rgb(248, 246, 246);
    margin-left:7px;
}
.endleft{
    position:absolute;
    top:19px;
    right:50px;
    bottom:10px;   
}
.topmidimg{
    width:100%;
    height:300px;
    margin-top:54px;
}
.topimg{
    width:100%;
    height:300px;
    position: relative;
}
.topimgname{
    position: relative;
    bottom:59px;
    left:15px;
    color:white;
    font-size:12px;
    font-weight:700;


}
.topimginfo{
    position: relative;
    bottom:55px;
    left:15px;
    color:white;
    font-size:24px;
    font-weight:bold;
}
.trendsfor{
    font-size:20px;
    font-weight:800;
    margin:20px 0 10px 0;
    margin-left:15px;
}
.trending1{
    margin-bottom: 0;
    width:100%;  
    
    cursor:pointer;
    
        
}
.trending1:hover,.showmore:hover{
    background-color:rgb(245, 245, 245);
}
.trendingwhere{
    color:rgb(104, 102, 102);
    font-size:13px;
    padding-top:15px;
}
.trendingtag{
    font-size:15px;
    font-weight:bold;
    margin-top:4px;
    margin-bottom: 4px;
}
.trendingtweets{
    font-size:12px;
    color:rgb(104, 102, 102);
    padding-bottom:10px;
}
.trendingwhere,.trendingtag,.trendingtweets{
    margin-left:15px;
}
.showmore{
    color:rgb(88, 184, 216);
    font-size:15px;
    width:100%;
    cursor:pointer;
    padding:10px 0 10px 0;
    
}
.showmm{
    margin-left:15px;
    padding:10px 0 10px 0;
}
.trends{
    border-top-color:rgb(238, 234, 234);
    margin-top:4px;
    border-top-style:solid;
    border-top-width: 0.5px;
}
.happening{
    border-top-color:rgb(238, 234, 234);
    border-top-style: solid;
    border-width:0.5px;
    margin-top:3px;
}
.whatshappening{
    font-size:19px;
    font-weight: bold;
    margin-left:15px;
    margin-top: 19px;
    margin-bottom:14px;
}
.nhlleftright{
    display: flex;
    justify-content: space-between;
    margin:0 15px 5px 15px;
}
.nhl{
    font-size:12px;
    font-weight: 700;

}
.final{
   font-size:12px;
   font-weight: 700;
}
.box1,.box2,.box3,.box4,.box5,.box7,.box8,.box9{
    display:flex;
    justify-content: space-between;
    margin-right:12px;
    align-items: center;

}
.happeningleft{
    display: flex;
    align-items: center;
    margin-left:10px;
}
.Teamname,.Teamname2{
    font-size:17px;
    font-weight: 700;
    color:white;
    margin-left:7px;
}
.box1,.box3,.box5,.box8{
    background-color: rgb(17, 17, 167);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding:5px 0 5px 0;

}
.box2,.box4,.box7,.box9{
    background-color: rgb(197, 20, 20);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding:5px 0 5px 0;
}
.box5{
    background-color: rgb(9, 9, 65);
}
.box7{
    background-color: rgba(8, 25, 46, 0.507);
}
.box4{
    background-color: rgb(228, 34, 34);
}
.box3{
    background-color: rgb(7, 77, 109);
}
.box8{
    background-color: rgb(3, 3, 51);
}
.box9{
    background-color: rgb(23, 44, 23);
}
.trendinggame{
    padding: 5px 0 10px 0;
    cursor:pointer;
}
.trendinggame:hover{
    background-color: rgb(240, 236, 236);
    transition: background-color 0.15s;
}
.number1,.number2{
    color:white;
    font-size:25px;
    font-weight: bold;
    margin-right:25px;
}
.happeningbox1{
    margin-left:15px;
}
.world{
    font-size: 13px;
    color:rgb(80, 78, 78);
    font-weight: 500;
}
.worldleft{
    margin-left:15px;
}
.worldinfo{
    font-size:15.9px;
    font-weight:700;
    margin-top:5px;
    color:rgb(37, 37, 37);
    width: 300px;
}
.trendingnews{
   
    padding:13px 15px 10px 0;
    cursor:pointer;
    display: flex;
    justify-content: space-between;
    align-items: top;
    
}
.trendingnews:hover{
    background-color:rgb(240, 236, 236);
    transition: all 0.15s;
}
.worldimg{
    height:85px;
    border-radius:13px;
    width:85px;
}
.footballsection{
    border-top-color:rgb(238, 234, 234);
    margin-top:4px;
    border-top-style:solid;
    border-top-width: 0.5px;
}
.football{
    font-size:21px;
    font-weight:900;
}
.foot{
    display:flex;
    justify-content: space-between;
    margin: 12px 15px 15px 15px;
    vertical-align: center;
}
.threedots{
    font-size:20px;
    font-weight: 800;
    padding:1px 10px 10px 10px;
    border-radius: 50px;
    cursor:pointer;
}
.threedots:hover{
    color:rgb(103, 247, 175);
    background-color: rgba(173, 216, 230,0.3);
    transition: all 0.15s;
}
.ppic,.profilepic img{
    width:50px;
    height:50px;
    border-radius:40px;
    margin-left:15px;
}
.profilname{
    font-weight: 700;
    font-size:15px;
    margin-left:10px;
}
.profilenamea{
    font-size:15px;
    color:grey;
}
.posttop{
   display:flex;
   align-items: center;
   justify-content: center;
}
.posttop{
   flex-direction: row;
   
    
}

.posttopleftright{
    display:flex;
   
    justify-content: space-between;
    
}
.postwithinfo{
    display:flex;
    flex-direction: column;
    padding:10px ;
    
}
.postwithinfo:hover{
    background-color: rgb(250, 250, 250);
    transition: background-color 0.15s;
}
.captions{
    margin:4px 0 5px 10px;
    font-size:15.2px;
}
.postmid{
    width:84%;
    padding: 0;
    margin-left:10%;
}
.postmid img{
    height:280px;
    max-width:500px;
    width:100%;
    border-radius:14px;
    margin:1.5% 0 0 4%;
    
}
.attentions{
    display:flex;
    justify-content:space-between;
    border-style: solid;
    width:75%;
}
.postwithinfo .showmore{
    margin-left:50px;
}
.footballname{
    font-size:17px;
    font-weight:800;
    
}
.footballsport{
    font-size:15px;
    color:grey;
    margin-top:5px;
    
}
.footballsport1{
    display:flex;
    
}
.bottomleftpic{
    display:flex;
    align-items: center;
    margin:10px 15px 10px 5px;
}
.footballfollow{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 15px 10px 15px;
    border-top-color:rgb(238, 234, 234);
    margin-top:4px;
    border-top-style:solid;
    border-top-width: 0.5px;
    cursor:pointer;

}
.footballpic img{
    height:35px;
    width:35px;
    margin-right: 5px;
    border-radius:100%;
}
.follow button{
    color:white;
    background-color: black;
    font-weight:700;
    border-radius:17px;
    padding:5px 12px 5px 12px;
    cursor:pointer;

}
.footballfollow:hover{
    background-color:rgb(245, 245, 245);
    transition: background-color 0.2s;
}
.showmore1{
    color:rgb(88, 184, 216);
    font-size:15px;
    cursor:pointer;
}
 .posttopleftright .threedots {
    padding:0 4px 0 4px;
    
    border-radius:100%;
    height:38px;
}
.attentions img{
    height:20px;
    width:22px;
    margin-right:10%;
    
}
.comments,.retweets,.like{
    display: flex;
    align-items: center;
    font-size: 13px;
    color:grey;
    width:50%;
}
.attentions{
    margin:1% 0 0 12%;
    max-width:450px;
}

.postwithinfo{
    cursor:pointer;
}
.postwithinfo .showmm{
    margin-left:59px;
    
}
@media(max-width:750px){
    .left{
        display:none;
    }
    
    .right{
          display:none;
      }
    .mid{
          
        width:100%;
    }
    .sett{
        display:none;
    }
    .end{
        border-top-color:rgb(224, 219, 219);
        margin: auto;
        border-top-style:solid;
        border-top-width: 0.5px;
        background-color: white;

    }
    .endmid{
        display:none;
    }
    .login{
        width:200px;
    }
    .signnup{
        width:200px;
        border-color:rgb(211, 205, 205);
    }
    .midtopsearch{
        width:80%;
        margin-left: 10%;
    }
    .midtop{
        width:100%;
    }
}
@media (min-width:750.02px) and (max-width:1100px){
    .right{
        display:none;
    }
    .mid{
        margin:auto;
        width:100%;
    }
    .midtop{
        width:70%;
    }
    .end{
        border-top-color:rgb(238, 234, 234);
        margin: auto;
        border-top-style:solid;
        border-top-width: 0.5px;
        background-color: white;
    }
    .endmid{
        display: none;
    }
    .login{
        width:330px;
    }
    .signnup{
        width:330px;
        margin-right:90px;
    }
    .left{
        margin-right:10%;
    }

}
@media (min-width:1100.02px) and (max-width:1150px){
    .right{
        display:none;
    }
    .mid{
        width:100%;
    }
}